* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
  background-image: url("/bg1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: whitesmoke;
}
.container{
  width: 90vw;
  height: 90vh;
  min-width: fit-content;
  /* background-color: ; */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0.92;
  display: flex;
}
.loading{
    padding: 50px;
    font-size: 64px;
    border-radius: 10px;
    
    img{
      scale: 2;
    }
    
}
.loadinganim {
  animation: loader 1s infinite alternate;
}

@keyframes loader {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}